{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
.mytable{
    margin: auto; 
    width: 300px;
    text-align: center;
}
.downloadCV{
    text-align: center;
    margin-right: 10%;
    margin-top: 10px;
}
</style>
{% endblock %}

{% block body %}
<table class="table table-dark mytable">
    <thead>
        <tr>
            <th>Jméno</th>
            <td>Adam Černý</td>
        </tr>
        <tr>
            <th>Mobil: </th>
            <td>+420 733 277 858</td>
        </tr>
        <tr>
            <th>Email: </th>
            <td>adamcerny0@gmail.com</td>
        </tr>
        </thead>
</table>
<div class="downloadCV">
    <a class="btn btn-info" href="{{ path('downloadCV') }}">Stáhnout CV</a>
</div>
{% endblock %}