{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

    <h1 style="text-align: center;">Vytvořit nový článek</h1>
    <div class="centered">
    {{ include('article/_form.html.twig') }}
</div>
{% endblock %}
